* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

h1,input, button {
    margin: 1px;
}

.container {
    border: 1px solid black;
    height: 80%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

.boxes:hover {
    background-color: lightblue;

}